.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid var(--primary-blue);
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
