.section {
  position: relative;
  height: 70vh;
}

.wrapper {
  width: 40rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  color: white;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--primary-dark);
  border-radius: 32px;
}

.animated {
  /* position: sticky;
  top: 20vh; */
  transition: width 0.3s ease-out;
  transform-origin: left;
}

.reviewContent {
  text-align: center;
}

.left {
  display: flex;
  min-width: 220px;
  height: 100%;
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
}

.designationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
}

.role {
  font-size: 0.9rem;
  color: var(--primary-blue);
}

.divider {
  width: 2px;
  height: 100%;
  background: var(--light-gray);
  margin: 0 2rem;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-blue);
}
